<html lang="ru">
<head>
    <title>game</title>
    <meta charset="utf-8">
</head>
<body>
<div class="Grodno"><img src="Гродно.png" height="405" width="345"></div>
<div class="Brest"><img src="Брест.png" height="336" width="495"></div>
<div class="Minsk"><img src="Минск.png" height="486" width="373,5"></div>
<div class="Gomel"><img src="Гомель.png" height="382,5" width="508,5"></div>
<div class="Mogilev"><img src="Могилёв.png" height="334,5" width="510"></div>
<div class="Vitebsk"><img src="Витебск.png" height="348" width="528"></div>
</body>
<style>
.Grodno {
    position: absolute;
    left: 400px;
    color: aqua;
    filter: ;
}
</style>
</html>